<body><% include ./partials/header %> 
<div class="loginbox">
   	<h1 style="text-align: center;">Login Here</h1>
    <form action="/login" method="POST" align="center">
            <p>Username</p>
              <input type="text" name="username" style="color: black" placeholder="Enter Username" ><br>
            <p>Password</p>
                <input type="password" name="password" style="color: black" placeholder="Enter Password">
            
            <br><br>
                <h4"></h4><input type="submit" value="Login" style="color:black"></h4><br>
                <a href="/register">Dont have an account ?</a>
            
        </form>
   </div>

    <script src="js/index.js"></script>

<% include ./partials/footer %> 
</body>
